<aside class="ghsPopover bottom rightHAlign floatingCartDropDown floatingCart groupOrder-convertLink-onTop ghsPopover--undefined-theme isOpen in fade" data-testid="popover-content" id="ghs-popover-content-0" role="tooltip" style="inset: 60px auto auto 753.333px;">
	<div class="ghsPopover-spacer"></div>
	<div class="popover-content">
		 <span data-testid="closed-bag-popover" class="u-block" style="min-height: 150px; min-width: 300px;">
				<aside id="ghs-globalCart-container">
					 <span>
							<span data-testid="global-cart">
								 <div data-testid="global-cart-body" id="global-cart" class="globalCart-panel body" tabindex="-1">
										<span data-testid="sev-one"></span>
										<section class="globalCart-panel-contents">
											 <div class="globalCart-body-scrollWrapper">
													<div class="globalCart-body">
														 <div data-testid="non-empty-cart-header">
																<span>
																	 <div data-testid="cart-template">
																			<div class="u-inset-squished-3 u-flex u-flex-center-center u-line-bottom u-line--thin u-line--light groupOrder-convertLink">
																				 <button class="s-btn s-btn--small s-btn-tertiary u-flex u-flex-center-center u-padding-cancel u-stack-x-1" data-testid="cart-sharedcartbtn">
																						<span class="u-stack-x-2 s-link u-flex">
																							 <cb-icon>
																									<svg class="cb-icon cb-icon-svg cb-icon--sm" aria-hidden="true">
																										 <use xlink:href="#friends"></use>
																									</svg>
																							 </cb-icon>
																						</span>
																						<span>Invite friends and order together</span>
																				 </button>
																			</div>
																	 </div>
																</span>
																<div data-testid="cart-header" class="cart-header">
																	 <span data-testid="simplified-address-valid1">
																			<div data-testid="order-settings-section" class="s-container-lg simplifiedAddressForm-cartHeader u-line-bottom u-line--thin u-line--light bag-restaurant-page">
																				 <img data-testid="lazy-image" src="https://res.cloudinary.com/grubhub-assets/image/upload/v1628522937/sunburst/menu/fulfillment%20method%20menu/Pickup_round_static.svg" alt="Pickup Icon" class="u-stack-x-2" style="height: 40px; width: 40px; border-radius: 50%; display: block;">
																				 <div class="simplifiedAddressForm-cartHeader-instructions">
																						<div class="cart-header-instructions">
																							 <h6 data-testid="restaurant-menu-status" class="u-margin-cancel">Pickup</h6>
																							 <div class="u-flex u-flex-wrap u-text-secondary">
																									<span class="u-stack-x-1" data-testid="delivery-estimate">ASAP, 15–25 min</span><span class="u-text-secondary u-stack-x-1">•</span>
																									<div data-testid="restaurant-fees" class="u-text-secondary u-margin-bottom-cancel"><span class="u-text-secondary"><span class="u-stack-x-1"><span data-testid="restaurant-pickup-distance"><span class="u-stack-x-1" data-testid="pickup-distance-value">2.65</span><span data-testid="pickup-distance-label">mi</span></span> away</span></span></div>
																							 </div>
																						</div>
																						<button data-testid="change-order-settings" class="s-btn s-btn-tertiary u-padding-cancel u-line--none simplifiedAddressForm-changeOrderSettings">Change</button>
																				 </div>
																			</div>
																	 </span>
																</div>
														 </div>
														 <span data-testid="cart-order-items">
																<div class="orderItems u-stack-y-4">
																	 <div>
																			<span data-testid="order-item" class="orderItem ghs-orderItem u-line-bottom u-line--thin u-line--light">
																				 <div class="ghs-modify-items-container s-row u-flex-justify-xs--right s-list-item">
																						<div data-testid="order-item-quantity" class="s-col-xs-1 u-padding-cancel">1</div>
																						<div data-testid="order-item-name" class="s-col-xs-6">
																							 <div class="orderItem-name"><a href="javascript:void(0)" class="orderItem-name-editLink">Burrito</a></div>
																						</div>
																						<div class="s-col-xs-5 u-flex u-flex-align-xs--top u-flex-justify-xs--right">
																							 <button aria-label="Delete this item from the bag" data-testid="cart-order-items-remove-item-btn" type="button" class="s-btn s-iconBtn s-btn-tertiary btn-cart-remove-item--variant1">
																									<cb-icon class="u-text-secondary">
																										 <svg class="cb-icon cb-icon-svg cb-icon--xs" aria-hidden="true">
																												<use xlink:href="#garbage"></use>
																										 </svg>
																									</cb-icon>
																							 </button>
																							 <span class="s-col-md-6 u-text-right">$11.25</span>
																						</div>
																						<div class="u-text-wrap s-col-xs-11"><span data-testid="order-item-additional-options" class="orderItem-description caption u-text-secondary"><span class=""><span>Chicken Burrito</span></span></span></div>
																				 </div>
																			</span>
																	 </div>
																</div>
														 </span>
														 <div class="u-inset-squished-4 u-padding-top-cancel" data-testid="cart-utensils-section">
																<div class="u-background--tinted u-inset-3">
																	 <div class="u-flex u-flex-justify-xs--between">
																			<div class="u-flex u-flex-align-xs--center">
																				 <cb-icon class="u-text-secondary u-stack-x-2">
																						<svg class="cb-icon cb-icon-svg cb-icon--xs" aria-hidden="true">
																							 <use xlink:href="#utensils"></use>
																						</svg>
																				 </cb-icon>
																				 <span class="body u-text-primary">Include utensils, etc.</span>
																			</div>
																			<div>
																				 <input class="s-checkbox-input" id="utensils-checkbox" type="checkbox">
																				 <label class="s-checkbox-label u-flex-inline" for="utensils-checkbox">
																						<span class="s-checkbox-filler">
																							 <cb-icon>
																									<svg class="cb-icon cb-icon-svg cb-icon--12" aria-hidden="true">
																										 <use xlink:href="#check"></use>
																									</svg>
																							 </cb-icon>
																						</span>
																				 </label>
																			</div>
																	 </div>
																</div>
														 </div>
														 <span class="globalCart-lineItems u-block u-inset-squished-4" data-testid="cart-line-items">
																<div class="lineItems">
																	 <div data-testid="cart-line-item-subtotal" class="u-flex u-stack-y-1 u-flex-justify-xs--between u-flex-align-xs--baseline u-stack-y-1 u-width-full">
																			<div class="lineItem-name u-text-ellipsis">Items subtotal </div>
																			<div data-testid="cart-line-item-value-subtotal" class="lineItem-amount u-text-right lineItem-val">$11.25</div>
																	 </div>
																	 <div class="u-stack-y-3"></div>
																</div>
														 </span>
													</div>
											 </div>
											 <footer class="globalCart-footer-container u-line--light u-line-top">
													<span class="simplifiedAddressForm-checkoutButton">
														 <div data-testid="cart-checkout-button" class="checkoutButton">
																<div class="checkoutButton-inCartContainer u-inset-4"><button id="ghs-cart-checkout-button" data-testid="checkout-btn" type="button" class="s-btn s-btn-lg s-btn-primary s-btn--block s-btn-primary--positive checkoutButton-inCart u-stack-y-2"><span class="s-btn-copy checkoutButton-floatingText">Proceed to Checkout</span></button></div>
														 </div>
													</span>
											 </footer>
										</section>
								 </div>
							</span>
					 </span>
				</aside>
		 </span>
	</div>
	<span class="popover-caret popover-caret--undefined-theme" style="left: 286px;"></span>
</aside>